# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore application configuration
/config/application.yml

#Ignore RubyMine files
/.idea

#environment
/.env

#Ingore the license finder reports
/doc/dependencies*
.env